#wrapper{
    width:96%;
    margin: 0 auto;
  }
  header{
    background-color: #069;
    padding: 10px;
    overflow: hidden;
  }
  header h1{
    width: 40%;
    float: left;
    font-size: 2.5em;
    color: #ffff;
  }
  header nav{
    width: 60%;
    float: right;
  }
  header ul{
    list-style-type: none;
    margin-top: 30px;
  }
  nav ul li{
    display: inline;
    padding-top:10px;
    margin-right:20px;
  }
  nav ul li a, nav ul li a :visited{
    font-size: 1em;
    color: #ffff;
    text-decoration: none;
  }
  section{
    border: 5px solid #333;
    overflow: hidden;
  }
  article{
    width: 29.17%;
    height: auto;
    float: left;
    margin-right: 1.5625%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0.5%;
    border: 1px dotted #333;
    border-radius: 10px;
  }
  article:first-child{
    margin-left:2.083%;
  }
  article h3{
    background: url(https://postfiles.pstatic.net/MjAxODA5MTJfOTkg/MDAxNTM2NzQ1MzE4MTM3.XjHOCaCuv5zCev-_LALa06GTD3SoyKQUna1po-LCeokg.MvYLuaznYcdMtWmIPq2UE7S8sHSfjE2W_FByJ5RbuWEg.JPEG.katejuyeon_/DSC00650.JPG?type=w966) no-repeat left center;
    padding-left: 30px;
  }
  dl{
    margin: 10px;
  }
  dt{
    font-weight: bold;
  }
  aside{
    clear: both;
    width: 93.75%;
    margin: 10px auto;
    padding: 10px;
    background-color: #99cc33;
  }
  footer{
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
  }